.git
.gitignore
.venv
venv
env
ENV
__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache
.mypy_cache
.tox
.coverage
.DS_Store
.env
*.sqlite3
*.db
*.csv
data
entities/__pycache__
migrations/__pycache__
tests/__pycache__
